@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset start */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* font-size: 62.5%; Now 10px = 1rem! */
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Poppins, Arial, sans-serif;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blinking outline indicator */

.blink {
  border: 4px #ff0000 solid;

  animation: blink 3s infinite;
}

@keyframes blink {
  50% {
    border-color: #fff;
  }
}

/* CSS Reset end */

body {
  min-height: 100vh;
  background: #111;
  padding: clamp(20px, 5vh, 50px) 10px 10px;
}

.container {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  color: #d6d6d6;
}

.heading {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 100;
}

.password-container {
  display: flex;
  align-items: flex-end;
}

.password-container p {
  font-size: 20px;
  margin-right: 15px;
  letter-spacing: 1px;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}

.copy-btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.copy-btn:hover {
  background-color: #fff;
}

.copy-btn img {
  width: 50%;
}

.range-group {
  margin-top: 30px;
}

.range-group label,
.range-group input {
  display: block;
}

.label label {
  font-size: 16px;
}

.range-group input {
  margin-top: 10px;
  width: 100%;
  height: 4px;
  cursor: pointer;
}

.checkboxes-container {
  margin: 30px 0;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group:not(:first-of-type) {
  margin-top: 20px;
}

.checkbox-group input {
  border: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.checkbox-group label {
  font-size: 16px;
  padding-left: 18px;
  font-size: 100;
  cursor: pointer;
}

.generate-password-btn {
  font-size: 18px;
  min-width: 150px;
  padding: 10px 0;
  margin: 0 auto;
  display: block;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
  columns: #d1d1d1;
}

.generate-password-btn:hover {
  background: #f1f1f1;
  color: #333;
}

.error-msg {
  text-align: center;
  color: #f1f1f1;
}
